recipe_generator.json
{
  "name": "recipe_generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-recipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        -416
      ],
      "id": "de53e32d-37f9-46a2-977b-bfd997d4b96c",
      "name": "Webhook",
      "webhookId": "a8447e12-55b4-436b-a3e3-5fefb45cd56b"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let data = $json.body;\nlet error;\n\nif (!data.ingredients || data.ingredients.length < 2) {\n  return { json: { error: \"NOT_ENOUGH_INGREDIENTS\" } };\n}\n\nfor (let ing of data.ingredients) {\n  if (!ing.quantity || ing.quantity <= 0) {\n    return { json: { error: \"INVALID_QUANTITY\" } };\n  }\n\n  if (![\"gram\", \"ml\", \"piece\"].includes(ing.unit)) {\n    return { json: { error: \"INVALID_UNIT\" } };\n  }\n}\n\nif (error) {\n  return { json: { error: \"...\" } };\n}\n\n\n\nreturn {\n  json: {\n    ingredients: data.ingredients,\n    portions: data.portions,\n    chefs: data.chefs,\n    time: data.time,\n    cuisine: data.cuisine,\n    diet: data.diet,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -496
      ],
      "id": "94c6d3e9-7e0c-4f09-9392-f6303ece4743",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional chef.\n\nYou receive the following data:\nIngredients: {{ JSON.stringify($json.ingredients, null, 2) }}\nPortions: {{ $json.portions }}\nChefs: {{ $json.chefs }}\nTime: {{ $json.time }}\nCuisine: {{ $json.cuisine }}\nDiet: {{ $json.diet }}\n\n---\n\nTASK:\n\nGenerate EXACTLY 3 different recipes using the provided input.\n\n---\n\nCORE RULES:\n\n* ALWAYS return exactly 3 recipes\n* NEVER return fewer or more\n* All recipes MUST follow the same structure\n\n---\n\nTIME RULES:\n\n* quick → 1–23 minutes\n* medium → 25–43 minutes\n* complex → 45+ minutes\n* Return ONLY a number\n\n---\n\nDIET RULES:\n\nMust be exactly one of:\n\n* vegetarian\n* vegan\n* keto\n* none\n\nRecipes MUST strictly follow the provided diet.\n\n---\n\nCUISINE RULES:\n\n* Must match the provided cuisine\n* If \"gourmet\" → refined dishes\n* If \"fusion\" → combine at least 2 cuisines meaningfully\n\n---\n\nINGREDIENT RULES:\n\n* Use provided ingredients exactly (do NOT rename)\n\n* Provided ingredients MUST appear in \"ingredients\"\n\n* Additional ingredients MUST go into \"extraIngredients\"\n\n* \"extraIngredients\" MUST NOT be empty\n\n* Allowed units ONLY:\n\n  * gram\n  * ml\n  * piece\n\n* Quantities MUST be positive numbers\n\n* Liquids → ml\n\n* Solids → gram\n\n* Countable items → piece\n\n* Every ingredient used in steps MUST exist in:\n\n  * ingredients OR extraIngredients\n\n---\n\nRECIPES:\n\n* All 3 recipes MUST be clearly different\n* Use different cooking techniques\n\n---\n\nSTEPS:\n\n* Minimum 4 steps per recipe\n* Each step must include:\n\n  * name\n  * description\n* Steps must be clear and actionable\n\n---\n\nLIKES:\n\n* Integer between 10 and 100\n\n---\n\nNUTRITION:\n\n* energy, protein, fat, carbs → numbers only\n\n---\n\nFINAL INSTRUCTIONS:\n\n* Output MUST be valid JSON\n* Do NOT include explanations\n* Do NOT include text outside JSON\n* Ensure the JSON is complete and correctly formatted\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -784,
        -160
      ],
      "id": "64c7be8f-19e2-403d-966d-91e5954986ac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -816,
        32
      ],
      "id": "01b09fdd-8f7c-437b-8b52-a1b0a66b741b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LWQCjFYWcT1kAVf5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.recipes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -368,
        -96
      ],
      "id": "480621eb-1f05-4b5f-93ae-f88061904817",
      "name": "Split Out"
    },
    {
      "parameters": {
        "tableId": "recipes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "cuisine",
              "fieldValue": "={{ $json.cuisine }}"
            },
            {
              "fieldId": "diet",
              "fieldValue": "={{ $json.diet }}"
            },
            {
              "fieldId": "time",
              "fieldValue": "={{ $json.time }}"
            },
            {
              "fieldId": "chefs",
              "fieldValue": "={{ $json.chefs }}"
            },
            {
              "fieldId": "nutrition",
              "fieldValue": "={{ $json.nutrition }}"
            },
            {
              "fieldId": "steps",
              "fieldValue": "={{ $json.steps }}"
            },
            {
              "fieldId": "ingredients",
              "fieldValue": "={{ $json.ingredients }}"
            },
            {
              "fieldId": "extraIngredients",
              "fieldValue": "={{ $json.extraIngredients }}"
            },
            {
              "fieldId": "likes",
              "fieldValue": "={{ $json.likes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        -96
      ],
      "id": "5e465d47-e727-4bce-a4ec-9b0db322f4c6",
      "name": "Create a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EC8KpqNIyM7QYdb7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -64,
        -96
      ],
      "id": "baf5601f-c0fc-49ca-820b-d9139cf03d05",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.error } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -320,
        -432
      ],
      "id": "4654f0db-d272-46b7-9a7c-97ea21f806c4",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf362879-f662-4380-ae76-241ff111cfb5",
              "leftValue": "={{ !!$json.error }}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        -448
      ],
      "id": "b3c7e70d-6ee2-467a-a80b-953d041f39cd",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"recipes\": [\n    {\n      \"name\": \"Grilled Chicken with Herbs\",\n      \"chefs\": 2,\n      \"likes\": 78,\n      \"time\": 25,\n      \"cuisine\": \"mediterranean\",\n      \"diet\": \"none\",\n      \"ingredients\": [\n        { \"name\": \"chicken breast\", \"quantity\": 300, \"unit\": \"gram\" },\n        { \"name\": \"garlic\", \"quantity\": 2, \"unit\": \"piece\" }\n      ],\n      \"extraIngredients\": [\n        { \"name\": \"olive oil\", \"quantity\": 30, \"unit\": \"ml\" },\n        { \"name\": \"salt\", \"quantity\": 5, \"unit\": \"gram\" },\n        { \"name\": \"pepper\", \"quantity\": 3, \"unit\": \"gram\" }\n      ],\n      \"nutrition\": {\n        \"energy\": 520,\n        \"protein\": 45,\n        \"fat\": 30,\n        \"carbs\": 10\n      },\n      \"steps\": [\n        {\n          \"name\": \"Prepare chicken\",\n          \"description\": \"Season chicken breast with salt, pepper, and minced garlic\"\n        },\n        {\n          \"name\": \"Heat pan\",\n          \"description\": \"Heat olive oil in a pan over medium heat\"\n        },\n        {\n          \"name\": \"Cook chicken\",\n          \"description\": \"Grill chicken for 6–7 minutes on each side until fully cooked\"\n        },\n        {\n          \"name\": \"Serve\",\n          \"description\": \"Let the chicken rest for a few minutes before serving\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -624,
        48
      ],
      "id": "3aa2358b-5051-4a3b-8b65-0a09db72438d",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "61f9ebfa-de9d-4fd4-9425-969a8f649d5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f59f3d1403012cd5922cca7caf200576b096d713c79dcc520e2d019bb14f6b37"
  },
  "id": "cxQS1bhEctCHoT77",
  "tags": []
}